{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="right">
        <span><i style="color: #50362A;" class="fas fa-briefcase"></i> ICT JOB works</span>
        <input class="search" type="search" placeholder="Kasb, lavozim yoki kompaniya">
    </div>

    <div class="left">
        <div class="box_1">
            <span>19517,5</span>
            <span>Vakansiyalar <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>

        <div class="box_2">
            <span>1332,7</span>
            <span>Ishsizlar <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>

        <div class="box_3">
            <span>485024</span>
            <span>Kompaniyalar <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>
    </div>
    

    <span class="rectangle"></span>

    <div class="bulimlar">
        <h3>Bo'limlar</h3>
        <div class="bulim_1">
            <div class="dasturchi">
                <div class="box">
                    <h4>Dasturchi</h4>
                    <span>10 331 318,8 - 10 057 615,8 сум</span>
                    
                </div>
            </div>

            <div class="dizayner">
                <div class="box">
                    <h4>Ishlab chiqarish sanoati</h4>
                    <span>5 150 728,5 - 5 256 400,6 сум</span>
                    
                </div>
            </div>

            <div class="admin">
                <div class="box">
                    <h4>Moliya vа sug`urtа</h4>
                    <span>12 433 740,3 - 12 797     812,7 сум</span>
                    
                </div>
            </div>

            <div class="haydovchi">
                <div class="box">
                    <h4>Sog`liqni sаqlаsh</h4>
                    <span>2 869 257,7 - 2 917 290,7 сум</span>
                    
                </div>
            </div>

            
        </div>

        <div class="bulim_1">
            
            <div class="dasturchi">
                <div class="box">
                    <h4>Tа'lim</h4>
                    <span>3 041 991,2 - 3 043 545,1 сум</span>
                    
                </div>
            </div>

            <div class="dasturchi">
                <div class="box">
                    <h4>Qurilish</h4>
                    <span>5 111 497,3 - 5 327 359,7 сум</span>
                   
                </div>
            </div>
            <div class="admin">
                <div class="box">
                    <h4>Tizim administratori</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    
                </div>
            </div>

            <div class="haydovchi">
                <div class="box">
                    <h4>Haydovchi</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    
                </div>
            </div>

        </div>
    </div>

    <div class="vakansiya">
        <div class="news_vak">
            <h3>So'nggi vakansiyalar</h3>
            <a href="#">Barchasini ko'rish<i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></a>
        </div>

        <div class="kurs">
            {% for vacancies in vacancies %}
            <div class="box_1">
                <div class="box-right">
                    <a href="{{ vacancies.link }}"><h4>{{ vacancies.name }}</h4></a>
                    <!-- <span>{{ vacancies.technologies }}, {{ vacancies.city }}</span> -->
                    
                </div>
                <!-- <div class="box-left">
                    <h4>Преподаватель по дисциплине "спортивный менеджмент" на узбекском языке</h4>
                    <span>DataSite Technology, Toshkent</span>
                    
                </div> -->
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="kompaniya">
        <h3>Top Kompaniyalar</h3>
        <div class="menu">
            <ul>
                <li>ICT Academy</li>
                <li>PDP</li>
                <li>Orient Finance Bank</li>
                <li>AllPlay</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
            </ul>
        </div>
        <a href="#">Barchasini ko'rish <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></a>
    </div>

 
{% endblock content %}
