{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="right">
        <span><i style="color: #50362A;" class="fas fa-briefcase"></i> ICT JOB works</span>
        <input class="search" type="search" placeholder="Kasb, lavozim yoki kompaniya">
    </div>

    <div class="left">
        <div class="box_1">
            <span>3 765</span>
            <span>rezyume <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>

        <div class="box_2">
            <span>5 059</span>
            <span>vakansiyalar <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>

        <div class="box_3">
            <span>8</span>
            <span>kompaniyalar <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></span>
        </div>
    </div>
    

    <span class="rectangle"></span>

    <div class="bulimlar">
        <h3>Bo'limlar</h3>
        <div class="bulim_1">
            <div class="dasturchi">
                <div class="box">
                    <h4>Dasturchi</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="dizayner">
                <div class="box">
                    <h4>Dizayner</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="admin">
                <div class="box">
                    <h4>Tizim administratori</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="haydovchi">
                <div class="box">
                    <h4>Haydovchi</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>
        </div>

        <div class="bulim_2">
            <div class="admin">
                <div class="box">
                    <h4>Tizim administratori</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="haydovchi">
                <div class="box">
                    <h4>Haydovchi</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="dizayner">
                <div class="box">
                    <h4>Dizayner</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>

            <div class="dasturchi">
                <div class="box">
                    <h4>Dasturchi</h4>
                    <span>1 199 800 - 13 999 900 сум</span>
                    <span>44 вакансии</span>
                </div>
            </div>
        </div>
    </div>

    <div class="vakansiya">
        <div class="news_vak">
            <h3>So'nggi vakansiyalar</h3>
            <a href="#">Barchasini ko'rish<i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></a>
        </div>
        {% for vacancy in vacancies %}
        <div class="kurs">
               <div class="box_1">
                <div class="box-right">
                    <h4>{{ vacancy.name }}</h4>
                    <span>Toshkent</span>
                </div>
                <div class="box-left">
                    <h4>Преподаватель по дисциплине "спортивный менеджмент" на узбекском языке</h4>
                    <span>DataSite Technology, Toshkent</span>
                </div>
            </div>
            {% endfor %}

            <div class="box_1">
                <div class="box-right">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
                <div class="box-left">
                    <h4>Преподаватель по дисциплине "спортивный менеджмент" на узбекском языке</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
            </div>


            <div class="box_2">
                <div class="box-right">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
                <div class="box-left">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
            </div>
            <div class="box_3">
                <div class="box-right">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
                <div class="box-left">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
            </div>
            <div class="box_4">
                <div class="box-right">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
                <div class="box-left">
                    <h4>Junior-middle java back-end разработчик</h4>
                    <span>DataSite Technology, Toshkent</span>
                    <span>от 300 до 800 USD</span>
                </div>
            </div>
        </div>
    </div>

    <div class="kompaniya">
        <h3>Top Kompaniyalar</h3>
        <div class="menu">
            <ul>
                <li>ICT Academy</li>
                <li>PDP</li>
                <li>Orient Finance Bank</li>
                <li>AllPlay</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
                <li>Company name</li>
            </ul>
        </div>
        <a href="#">Barchasini ko'rish <i style="margin-left: 8px;" class="fas fa-external-link-square-alt"></i></a>
    </div>

 
{% endblock content %}
