{% extends "base.html" %}
{% load static %}

{% block content %}

<!--navigation bar end-->


    <div class="yangiliklar">
        <p>Yangiliklar</p>
    </div>
    <div class="rectangle"/>



<!--    yangiliklar katta asosiy rasm-->
    <section class="left">

        <div class="rasm-main">

            <div class="rasm">

            </div>

            <div class="rasm-text">
                <p>19:00  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 450</p>

                <h2>ТОП-5: Дунё буйича кайси планшетлар энг зур сотиляпти? </h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>

            </div>
            <div class="downlar">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </div>

        </div>

        <h2 class="song">Сунги янгиликлар</h2>
        <div class="songi-yangilik">
            <div class="songi-ichki">
                <h4>ТОП-5: Дунё буйича кайси планшетлар энг зур сотиляпти?  </h4>
                <p>19:00  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 450</p>
                <div class="linya"></div>
            </div>

            <div class="songi-ichki">
                <h4>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.  </h4>
                <p>18:10  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 621</p>
                <div class="linya"></div>

            </div>

            <div class="songi-ichki">
                <h4>Samsung такдим этиб улгурмаган Galaxy A52s дуконларга сотувга чикди. Нархлари ва асосий жихатлари аник!  </h4>
                <p>16:45  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 345</p>
                <div class="linya"></div>

            </div>

            <div class="songi-ichki">
                <h4>ТОП-10: Хамёнбоп смартфонларнинг энг зурлари (AnTuTu рейтинги, 2021-йил июль).  </h4>
                <p>15:10  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 120</p>
                <div class="linya"></div>

            </div>


            <div class="songi-ichki">
                <h4>IPhone 13 PRO илк "жонли" суратларда: Lighting порти мавжуд эмас.  </h4>
                <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>
                <div class="linya"></div>

            </div>

        </div>


        <div class="bir-ustun">
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>ТОП-10: Хамёнбоп смартфонларнинг энг зурлари (AnTuTu рейтинги, 2021-йил июль).</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

        </div>

        <div class="ikki-ustun">
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

        </div>

        <a class="more" href="#">
            Купрок курсатиш
        </a>
    </section>
{% endblock content %}
