<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="yangilik1/css/yangilik1.css" rel="stylesheet">
    <title>Yangiliklar</title>
    <link href="yangilik1/css/all.min.css" type="text/css" rel="stylesheet">
    <link href="yangilik1/css/fontawesome.min.css" type="text/css" rel="stylesheet">


</head>
<body>
<!--    navigation bar start-->
    <header class="navbar">
        <div class="navik">
            <div class="logo_div">

            </div>
                <ul class="listlar">
                    <li class="items">Kurslar</li>
                    <li class="items">Xizmatlar</li>
                    <li class="items">Biz haqimizda &nbsp; <i class="fa fa-chevron-down"></i></li>
                    <li class="items">Yangiliklar</li>
                    <li class="items"><i class="fa fa-briefcase"></i> &nbsp; ICT works</li>
                </ul>
        </div>
        <div class="rightcon">
            <a href="#" class="kirish"><i class="fa fa-sign-in-alt"></i>&nbsp; KIRISH</a>
            <div class="telefon">
                <i class="fa fa-phone-alt"></i>&nbsp;<p>+95 143-00-13</p>
            </div>
        </div>
    </header>
<!--navigation bar end-->


    <div class="yangiliklar">
        <p>Yangiliklar</p>
    </div>
    <div class="rectangle"/>



<!--    yangiliklar katta asosiy rasm-->
    <section class="left">

        <div class="rasm-main">

            <div class="rasm">

            </div>

            <div class="rasm-text">
                <p>19:00  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 450</p>

                <h2>ТОП-5: Дунё буйича кайси планшетлар энг зур сотиляпти? </h2>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>

            </div>
            <div class="downlar">
                <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <i class="fa fa-arrow-right"></i>
            </div>

        </div>

        <h2 class="song">Сунги янгиликлар</h2>
        <div class="songi-yangilik">
            <div class="songi-ichki">
                <h4>ТОП-5: Дунё буйича кайси планшетлар энг зур сотиляпти?  </h4>
                <p>19:00  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 450</p>
                <div class="linya"></div>
            </div>

            <div class="songi-ichki">
                <h4>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.  </h4>
                <p>18:10  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 621</p>
                <div class="linya"></div>

            </div>

            <div class="songi-ichki">
                <h4>Samsung такдим этиб улгурмаган Galaxy A52s дуконларга сотувга чикди. Нархлари ва асосий жихатлари аник!  </h4>
                <p>16:45  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 345</p>
                <div class="linya"></div>

            </div>

            <div class="songi-ichki">
                <h4>ТОП-10: Хамёнбоп смартфонларнинг энг зурлари (AnTuTu рейтинги, 2021-йил июль).  </h4>
                <p>15:10  &nbsp;Бугун &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 120</p>
                <div class="linya"></div>

            </div>


            <div class="songi-ichki">
                <h4>IPhone 13 PRO илк "жонли" суратларда: Lighting порти мавжуд эмас.  </h4>
                <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>
                <div class="linya"></div>

            </div>

        </div>


        <div class="bir-ustun">
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>ТОП-10: Хамёнбоп смартфонларнинг энг зурлари (AnTuTu рейтинги, 2021-йил июль).</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/road.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/river.jpg" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

        </div>

        <div class="ikki-ustun">
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>
            <div class="bir-ustun-ichki">

                <div class="rasmik">
                    <img src="yangilik1/css/rasmlar/image.png" style="border-radius: 5px; width: 100%; height: 100%">
                </div>

                <div class="textik">
                    <h5>Tesla автопилоти рулда ухлаб колган маст хайдовчининг хаётини саклаб колди.</h5>
                    <p>22:12  &nbsp;05 Августь &nbsp;&nbsp;   <i class="fa fa-eye"></i>&nbsp; 754</p>

                </div>

            </div>
            <br>

        </div>

        <a class="more" href="#">
            Купрок курсатиш
        </a>
    </section>

    <footer class="foter">

        <div class="foot-logo">

            <img src="yangilik1/css/rasmlar/academ.png" alt="Logo Footer">
            <div class="soc-links">
                <div class="soc-face">
                    <a href="#"><i style="font-size: 2.0em;" class="fab fa-facebook"></i></a>
                </div>
                <div class="soc-tel">
                    <a href="#"><i style="font-size: 2.0em;" class="fab fa-telegram"></i></a>
                </div>
                <div class="soc-yout">
                    <a href="#"><i style="font-size: 2.0em;" class="fab fa-youtube"></i></a>
                </div>
                <div class="soc-ins">
                    <a href="#"><i style="font-size: 2.0em;" class="fab fa-instagram"></i></a>
                </div>
            </div>
<!--            <span>2017-2020 &copy; ICT ACADEMY<br>Barcha huquqlar himoyalangan</span>-->
            <div class="copi">
                2017-2020 &copy; ICT ACADEMY
                <br>
                Barcha huquqlar himoyalangan
            </div>
        </div>
        <div class="foot-text">
            <div class="row-1">
                <h3>Menu</h3>
                <ul style="list-style: none">
                    <li><a href="#">Bosh sahifa</a></li>
                    <li><a href="#">Kurslar</a></li>
                    <li><a href="#">Xizmatlar</a></li>
                    <li><a href="#">Biz haqimizda</a></li>
                    <li><a href="#">Yangiliklar</a></li>
                    <li><a href="#">ICT works</a></li>
                </ul>
            </div>

            <div class="row-2">
                <h3>Akkaunt</h3>
                    <ul style="list-style: none">
                      <li><a href="#">Tizimga kirish</a></li>
                      <li><a href="#">Ro'yxatdan o'tish</a></li>
                   </ul>
            </div>

            <div class="row-3">
                <h3>Kontaktlar</h3>
                <ul style="list-style: none">
                    <li><i style="margin-right: 10px;" class="far fa-envelope"></i><a href="#">ict_academy@gmail.com</a></li>
                    <li><i style="margin-right: 10px;" class="fas fa-phone-alt"></i><a href="#">Qo'ng'iroq buyurtma qilish</a></li>
                    <li><span style="color: #121619; font-weight: 600; line-height: 180%;">+998 (95) 143-00-13</span></li>
                    <li><a href="#">Dushanbadan - Yakshanbagacha<br>8:00 dan 22:00</a></li>
                </ul>
            </div>
        </div>

    </footer>
</body>
</html>