{% extends "base.html" %}
{% load static %}

{% block content %}


        <main>
            <p>
                <i class="fas fa-arrow-left mx-2"></i>  Ortga
             </p>

             <h1>Orient Finance Bank</h1>

             <div class="date d-flex">

                <ul class="date-title">
                    <li>
                       <img src="img/call.png" alt="">  <p>+998 93 123-45-67</p>
                    </li> 
                    <li>
                        <img src="img/globus.png" alt="">  <p>ofb.uz</p>
                    </li> 
                    <li>
                        <img src="img/map.png" alt="" class="mt-2" > <p> Toshkent sh., Yunusobod t.,<br> 4-20-26</p>
                    </li> 
                   
                </ul>

                <ul class="date-data">
                     <li>
                        <img src="img/message.png" alt="" class="mt-2" > <p>ofb@gmail.com</p>
                     </li>

                     

                     
                </ul>
           </div> 

           <p class="p1">
            Biz mijozlarimiz bilan faxrlanamiz hamda ular uchun ishonchli va foydali hamkor bo‘lishga harakat qilamiz. Bizning maqsadimiz — ularga o‘z harakatlari va orzularida mustaqil bo‘lishga yordam berish. <br><br>

            Biz O‘zbekistonda 2010-yildan buyon faoliyat yuritib kelmoqdamiz va kompaniyaga odamlarning uzoq muddatli hurmat va sodiqligini paydo qiladigan sifatli xizmat ko‘rsatishdagi o‘z tajriba va kuchimizni ishga solyapmiz. Biz mijozlarining hayoti va mehnatini yaxshi tarafga o‘zgartirishga, vaqtini tejashga, ularni zerikarli ishlardan xalos qilishga harakat qilamiz.
           </p>

           

           <div class="vakansiya-main">
            <h3 class="mt-5">
                Vakansiyalar
            </h3>
             <div class="vakansiya">
                <div class="item">
                    <h6>Junior-middle java back-end разработчик</h6>
                    <p>DataSite Technology, Toshkent</p>
                    <h6>от 300 до 800 USD</h6>
                </div>

                <div class="item">
                    <h6>Junior-middle java back-end разработчик</h6>
                    <p>DataSite Technology, Toshkent</p>
                    <h6>от 300 до 800 USD</h6>
                </div> 

                <div class="item">
                    <h6>Junior-middle java back-end разработчик</h6>
                    <p>DataSite Technology, Toshkent</p>
                    <h6>от 300 до 800 USD</h6>
                </div> 

               
             </div>
           </div>

           <h3 class="mt-5">Xizmatlar</h3>

           <div class="image-card">
               
                <div class="item-img">
                    <img src="img/image3.png" width="600" height="320" alt=""> <br>

                    <span class="text1"><b>«Uyda qoling» aksiyasi </b> </span> <br>

                    <p class="text2">«Uyda qoling» aksiyasi</p>    

                </div>
               

                <div class="item-img">
                    <img src="img/image4.png" width="600" height="320" alt=""> <br>

                    <span class="text1"><b>OFB mobil ilovasi </b> </span> <br>

                    <p class="text2">Barcha kartalar, hisob-raqamlar, o'tkazmalar va to'lovlar cho'ntagingizda.</p>    

                </div>
           </div>
        </main>

    </div>

{% block content %}
