{% extends "base.html" %}
{% load static %}

{% block content %}

         <main>
             <p> <i class="fas fa-arrow-left mt-5"></i> ortga </p>
            <h1>
                Rezyume joylashtirish
            </h1>
           

            <form action="" class="w-50">

               
               <fieldset class="mt-5">
                <legend>
                    <h6>
                        Shaxsiy ma'lumotlar va kontaktlar
                    </h6> 
                </legend>
                <div class="group">
                    <label for="">Rasm</label>
                 <label class="uploadLabel">
               
                   <input type="file" class="uploadButton"/>
                   Faylni tanlash
               </label>
                </div>
                 <div class="group">
                     <label for="">Ism</label>
                     <input type="text"  placeholder="Ism">
                 </div>
 
                 <div class="group">
                     <label for="">Familiya</label>
                     <input type="text" placeholder="Familiya">
                 </div>
 
                 <div class="group">
                     <label for="">Otasining ismi</label>
                     <input type="text"  placeholder="Otasining ismi">
                 </div>
 
                 <div class="group">
                     <label for="">Tug'ilgan sanani</label>
                      <label class="dateLabel">
                         <input type="date" class="dateButton">
                      </label>
                 </div>
 
                 <div class="group-radio">
                     <label for="">Jinsi</label> 
                     <div>
                         <div class="radio">
                             <input type="radio"  name="jinsi" value="Erkak" class="mr-3">  <br>
                             <input type="radio"  name="jinsi" value="Ayol" class="mr-3"> 
                         </div>
                     </div>
                 </div>
 
                <div class="group">
                    <label for="">Shahar</label>
                    <select name="">
                        <option disabled selected hidden>Shaharni tanlang..</option>
                    </select>
                </div>
 
                <div class="group mb-5">
                    <label for="">Manzil</label>
                    <textarea name="" placeholder="Manzil" cols="45" rows=""></textarea>
                </div>
 
                <div class="group">
                 <label for="">Telefon</label>
                 <input type="text" placeholder="+998 (_) ___-__-__">
             </div>
             
             <div class="group">
                 <label for="">Email pochta</label>
                 <input type="text" placeholder="Email">
             </div>
 
             <div class="group">
                 <label for="">Familiya</label>
                 <input type="text" placeholder="Familiya">
             </div>
 
             <div class="group">
                 <label for="">Ish turi</label>
                 <select name="">
                     <option disabled selected hidden>Ish turini tanlang..</option>
                 </select>
             </div>
               </fieldset>

            <fieldset class="mt-5">
                <legend><h6>Mutaxassislik</h6></legend>

                <div class="group">
                    <label for="">Familiya</label>
                    <input type="text" placeholder="Familiya">
                </div>

                <div class="group">
                    <label for="">Yo'nalish</label>
                    <select name="">
                        <option disabled selected hidden>Yo'nalishni tanlang..</option>
                    </select>
                </div>

                <div class="group">
                    <label for="">Maosh</label>
                   <div class="group-m">
        
                        <input type="text">
                        <select name="">
                            <option disabled selected hidden>So'm</option>
                        </select>
                   </div>
                </div>

                <div class="group">
                    <label for="">Ish turi</label>
                    <select name="">
                        <option disabled selected hidden>Ish turini tanlang..</option>
                    </select>
                </div>

                <div class="group">
                    <label for="">Ishlash sanani</label>
                    <div class="group-in">
                        <label class="dateLabel">
                            <input type="date" class="dateButton">
                        </label>
                    </div>
                </div>

                <div class="group">
                   <div class="checkbox">
                    <input type="checkbox" id="check">
                    <label for="check" class="w-100">hozirgi vaqtda</label>
                   </div>
                </div>

                <div class="group my-5 align-baseline">
                    <label for="">Ish joyidagi vazifalar</label>
                    <textarea name="" placeholder="Ish joyidagi vazifalar" cols="45" rows=""></textarea>
                </div>


                <fieldset class="my-4">
                       <legend>
                           Ta`lim
                       </legend> 

                            <div class="group">
                                <label for="">Ma'lumoti</label>
                                <select name="">
                                    <option disabled selected hidden>O'rta</option>
                                </select>
                            </div>
                            
                            <div class="group">
                                <label for="">Ta'lim muassasi</label>
                                <input type="text" placeholder="Ta'lim muassasi">
                            </div>
        
                            <div class="group">
                                <label for="">Fakultet, mutaxassislik</label>
                                <input type="text" placeholder="Fakultet, mutaxassislik">
                            </div>
        
                            <div class="group-y my-4">
                                <label for="">Bitiruv yili</label>
                                <select class="select" name="">
                                    <option disabled selected hidden>Yil</option>
                                </select>
                            </div>
                      

                </fieldset>

                <fieldset>
                    <legend>Kasbiy ko'nikmalar, tillar</legend>
                    <div class="group">
                        <label for="">Fakultet, mutaxassislik</label>
                        <input type="text" placeholder="Fakultet, mutaxassislik">
                    </div>

                     <div class="group-k  my-4">
                                <label for="">Bilish darajasi</label>
                                <select class="select" name="">
                                    <option disabled selected hidden>Bilish darajasi..</option>
                                </select>
                      </div>

                      <div class="group">
                        <label for="">Rasm</label>
                     <label class="uploadLabel">
                   
                       <input type="file" class="uploadButton"/>
                       Faylni tanlash
                   </label>
                    </div>
                </fieldset>
            </fieldset>

            <button class="btn-resume"> resume yaratish</button>
            </form>

            </main>
    </div>
    {% endblock content %}
