{% extends "base.html" %}
{% load static %}

{% block content %}
    <main>
         <p>
            <i class="fas fa-arrow-left mx-2"></i>  Ortga
         </p>

         <div class="row">
             <div class="col-md-1">
                 <img src="img/image1.png"alt="">
             </div>

             <div class="col-md-8 px-5 py-4">

                <h2>
                    Axmedov Shuxrat
                </h2>
                <p>
                    Frontend developer
                </p>
                <h5 class="data">
                    shaxsiy malumotlar
                </h5>
                       <div class="date d-flex">

                            <ul class="date-title">
                                <li>
                                    Tug'ilgan sanasi:
                                </li> 
                                <li>
                                    Jinsi
                                </li> 
                                <li>
                                    Shahar:
                                </li> 
                                <li>
                                    Manzil:
                                </li> 
                                <li>
                                    Telefon: 
                                </li> 
                                <li>
                                    Email pochta:
                                </li> 
                            </ul>

                            <ul class="date-data">
                                 <li>
                                     25.09.1997
                                 </li>

                                 <li>
                                     Erkak
                                 </li>

                                 <li>
                                     Toshkent shahar
                                 </li>
                                 <li>
                                     yunusobod tumani
                                 </li>

                                 <li>
                                    +998 93 123-45-67
                                 </li>

                                 <li>
                                    shuxrat@gmail.com
                                 </li>
                            </ul>
                       </div> 

                       <h5 class="mt-5">
                           Mutaxasisligi
                       </h5>

                       <div class="date d-flex">

                        <ul class="date-title">
                            <li>
                                Lavozim:
                            </li> 
                            <li>
                                Yo'nalish:
                            </li> 
                           
                        </ul>

                        <ul class="date-data">
                             <li>
                                 Frontend developer
                             </li>

                             <li>
                                 IT
                             </li>

                           
                        </ul>
                   </div>   
                   

                   <h5 class="mt-5">
                    Ish tajribasi
                </h5>

                <div class="date d-flex border-b">

                 <ul class="date-title">
                     <li>
                        yanvar 2021 –  hozirda
                     </li> 
                     <li>
                         8 oy
                     </li> 
                    
                 </ul>

                 <ul class="date-data">
                      <li>
                          <h5 class="text-black" >Frontend developer</h5>
                      </li>

                      <li>
                        IT PARK TASHKENT
                      </li>
                      <li>
                        Frontend developer
                      </li>

                    
                 </ul>
            </div>   
                   
            <div class="date d-flex border-b">

                <ul class="date-title">
                    <li>
                        avgust 2019 – yanvar 2021
                    </li> 
                    <li>
                        1 yil 6 oy
                    </li> 
                   
                </ul>

                <ul class="date-text size-1">
                     <li>
                       <h6 class="text-black">Специалист по международным отношениям и внешней политике</h6>
                     </li>

                     <li>
                        СП ООО «TCG BEIJING HOUSE»
                     </li>
                     <li>
                        Растаможка груза в паре с декларантом
                        Оформление приглашений, продление визы, регистрация иностранных лиц по месту жительства
                     </li>

                </ul>
           </div>  
           <h5>Kasbiy ko'nikmalar, tillar</h5>
           <form action="">

            <label for="html" class="d-flex justify-content-lg-between"><p>HTML , CSS</p> <p>90%</p></label>
            <input type="range" id="hmtl" max="100" min="0" value="90">
            <label for="html" class="d-flex justify-content-lg-between"><p>Javascript</p> <p>90%</p></label>
            <input type="range" id="js" max="100" min="0" value="90">
            <label for="html" class="d-flex justify-content-lg-between"><p>ReactJs</p> <p>80%</p></label>
            <input type="range" id="hmtl" max="100" min="0" value="80">
            <label for="html" class="d-flex justify-content-lg-between"><p>PHP</p> <p>50%</p></label>
            <input type="range" id="php" max="100" min="0" value="50">
           </form>

                    
           <div class="date d-flex border-b">

            <ul class="date-title">
                <li>
                    Tillar
                </li> 
            </ul>

            <ul class="date-data size-2">
                 <li>
                    O’zbek tili - A’lo, Ingliz tili - O’rta
                 </li>
            </ul>
       </div> 

       <div class="group d-flex align-baseline">
             <label for="">Portfolio</label>
              <label class="uploadLabel ">
        
                <input type="file" class="uploadButton"/>
                <i class="fas fa-download"></i>
                Yuklab olish
            </label>
       </div>

             </div>

             <div class="col-md-3">
                 <h5>5 000 000 so'm</h5>
                 <p>masofaviy</p>

                 <div class="card">
                      <div class="card-body p-0"><img src="img/image2.png" class="rounded-1"  width="300" height="180" alt=""></div>
                      <div class="card-footer">
                          <p>Figma, XD, PSD shablonlarni HTML, CSS, JS, ReactJSga o’girish</p>
                      </div>
                 </div>

             </div>


         </div>
        
    </main>
   </div>
{% endblock content %}
