<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main1.css">
    <link rel="stylesheet" href="fontawesome-free-5.15.4-web/css/all.min.css">
    <title>Document</title>
</head>
<body>
   <div class="container">
    <header>
        <div class="nav-main d-flex">
           <ul class="nav left">
               <li><img src="img/logo.png" width="60" alt=""></li>
              <li><a href="#">Kurslar</a></li> 
              <li><a href="#">Xizmatlar</a></li> 
              <li><a href="#Biz haqimizda"></a> <i class="fas fa-angle-down"></i></li> 
              <li><a href="#">Yangiliklar</a></li> 
              <li><i class="fas fa-briefcase mx-1"></i><a href="#">ICT Works</a></li> 
        </ul>

        <ul class="nav right">
            <li>
                <button> <i class="fas fa-sign-in-alt text-white"></i> KIRISH</button>
            </li>
            <li>
               <i class="fas fa-phone-alt text-success"></i>
            </li>
            <li>
                +998 95 143 00 13
            </li>
        </ul>
        </div>
    </header> 

    <main>
         <p>
            <i class="fas fa-arrow-left mx-2"></i>  Ortga
         </p>

         <div class="row">
             <div class="col-md-1">
                 <img src="img/image1.png"alt="">
             </div>

             <div class="col-md-8 px-5 py-4">

                <h2>
                    Axmedov Shuxrat
                </h2>
                <p>
                    Frontend developer
                </p>
                <h5 class="data">
                    shaxsiy malumotlar
                </h5>
                       <div class="date d-flex">

                            <ul class="date-title">
                                <li>
                                    Tug'ilgan sanasi:
                                </li> 
                                <li>
                                    Jinsi
                                </li> 
                                <li>
                                    Shahar:
                                </li> 
                                <li>
                                    Manzil:
                                </li> 
                                <li>
                                    Telefon: 
                                </li> 
                                <li>
                                    Email pochta:
                                </li> 
                            </ul>

                            <ul class="date-data">
                                 <li>
                                     25.09.1997
                                 </li>

                                 <li>
                                     Erkak
                                 </li>

                                 <li>
                                     Toshkent shahar
                                 </li>
                                 <li>
                                     yunusobod tumani
                                 </li>

                                 <li>
                                    +998 93 123-45-67
                                 </li>

                                 <li>
                                    shuxrat@gmail.com
                                 </li>
                            </ul>
                       </div> 

                       <h5 class="mt-5">
                           Mutaxasisligi
                       </h5>

                       <div class="date d-flex">

                        <ul class="date-title">
                            <li>
                                Lavozim:
                            </li> 
                            <li>
                                Yo'nalish:
                            </li> 
                           
                        </ul>

                        <ul class="date-data">
                             <li>
                                 Frontend developer
                             </li>

                             <li>
                                 IT
                             </li>

                           
                        </ul>
                   </div>   
                   

                   <h5 class="mt-5">
                    Ish tajribasi
                </h5>

                <div class="date d-flex border-b">

                 <ul class="date-title">
                     <li>
                        yanvar 2021 –  hozirda
                     </li> 
                     <li>
                         8 oy
                     </li> 
                    
                 </ul>

                 <ul class="date-data">
                      <li>
                          <h5 class="text-black" >Frontend developer</h5>
                      </li>

                      <li>
                        IT PARK TASHKENT
                      </li>
                      <li>
                        Frontend developer
                      </li>

                    
                 </ul>
            </div>   
                   
            <div class="date d-flex border-b">

                <ul class="date-title">
                    <li>
                        avgust 2019 – yanvar 2021
                    </li> 
                    <li>
                        1 yil 6 oy
                    </li> 
                   
                </ul>

                <ul class="date-text size-1">
                     <li>
                       <h6 class="text-black">Специалист по международным отношениям и внешней политике</h6>
                     </li>

                     <li>
                        СП ООО «TCG BEIJING HOUSE»
                     </li>
                     <li>
                        Растаможка груза в паре с декларантом
                        Оформление приглашений, продление визы, регистрация иностранных лиц по месту жительства
                     </li>

                </ul>
           </div>  
           <h5>Kasbiy ko'nikmalar, tillar</h5>
           <form action="">

            <label for="html" class="d-flex justify-content-lg-between"><p>HTML , CSS</p> <p>90%</p></label>
            <input type="range" id="hmtl" max="100" min="0" value="90">
            <label for="html" class="d-flex justify-content-lg-between"><p>Javascript</p> <p>90%</p></label>
            <input type="range" id="js" max="100" min="0" value="90">
            <label for="html" class="d-flex justify-content-lg-between"><p>ReactJs</p> <p>80%</p></label>
            <input type="range" id="hmtl" max="100" min="0" value="80">
            <label for="html" class="d-flex justify-content-lg-between"><p>PHP</p> <p>50%</p></label>
            <input type="range" id="php" max="100" min="0" value="50">
           </form>

                    
           <div class="date d-flex border-b">

            <ul class="date-title">
                <li>
                    Tillar
                </li> 
            </ul>

            <ul class="date-data size-2">
                 <li>
                    O’zbek tili - A’lo, Ingliz tili - O’rta
                 </li>
            </ul>
       </div> 

       <div class="group d-flex align-baseline">
             <label for="">Portfolio</label>
              <label class="uploadLabel ">
        
                <input type="file" class="uploadButton"/>
                <i class="fas fa-download"></i>
                Yuklab olish
            </label>
       </div>

             </div>

             <div class="col-md-3">
                 <h5>5 000 000 so'm</h5>
                 <p>masofaviy</p>

                 <div class="card">
                      <div class="card-body p-0"><img src="img/image2.png" class="rounded-1"  width="300" height="180" alt=""></div>
                      <div class="card-footer">
                          <p>Figma, XD, PSD shablonlarni HTML, CSS, JS, ReactJSga o’girish</p>
                      </div>
                 </div>

             </div>


         </div>
        
    </main>
   </div>

   <footer>
    <div class="row">
        <div class="col-md-3 justify-content-center d-flex">
              <ul>
                  <li>
                         <img src="img/ict-logo-black.png" width="98" height="40" alt=""> 
                  </li>
                  <li class="faq">
                      <img src="img/Facebook.png" alt="">
                      <img src="img/Telegram.png" alt="">
                      <img src="img/Youtube.png" alt="">
                      <img src="img/Instagram.png" alt="">
                      
                  </li>

                  <li>
                      <p class="text">
                          2017-2020 © ICT ACADEMY
                          Barcha huquqlar himoyalangan
                      </p>
                  </li>
              </ul>

             
        </div>

        <div class="col-md-3 justify-content-center d-flex">
         
          <ul class="nav-text">
              <li>
                  <h3>Menu</h3>
              </li>
              <li><a href="#"><p>Bosh sahifa</p></a></li>
              <li><a href="#"><p>Kurslar</p> </a></li>
              <li><a href="#"><p>Xizmatlar</p></a></li>
              <li><a href="#"><p>Biz haqimizda</p></a></li>
              <li><a href="#"><p>Yangiliklar</p></a></li>
              <li><a href="#"><p>ICT works</p></a></li>
          </ul>
        </div>

        <div class="col-md-3 justify-content-center d-flex">
         
          <ul class="nav-text">
              <li>
                  <h3>Account</h3>
              </li>
              <li><a href="#"><p>Tizimga kirish</p></a></li>
              <li><a href="#"><p>Ro'yxatdan o'tish</p> </a></li>
             
          </ul>
        </div>

        <div class="col-md-3 justify-content-center d-flex">
         
          <ul class="nav-contact">
              <li>
                  <h3>Kontaktlar</h3>
              </li>
              <li><a href="#"><p>ict_academy@gmail.com</p></a></li>
              <li><a href="#"><p>Qo’ng’iroq buyurtma qilish</p> </a></li>
              <li><a href="#"><h5>+998 (95) 143-00-13</h5>
                  <p>Dushanbadan - Yakshanbagacha <br>
                      8:00 dan 22:00</p></a></li>
          </ul>
        </div>

    </div>
</footer>
</body>
</html>